$mycolor:blue;
#mydiv{
    background-color: black;
    border: 70px;
}
#myname{
    color:$mycolor;
    background-color: red;
}
#my2id{
    background-color: rgb(164, 78, 95);
    border: 70px;
}
#my3id{
    background-color: darkorchid;
    border: 70px;
}